// Container
.top-bar {
  //position: fixed;
  background: $color-background;
  box-shadow: $elevation-shadow-1;

  @at-root .zen .zen-moreTabs ul {
    z-index: $z-index-dropdown + 1;
  }

  // Alerts
  .alert {
    margin: $spacing-x-small $spacing-none;
    padding: $spacing-x-small $spacing-large;
    line-height: $line-height-reset;
  }

  // Controls
  &-controls {
    height: $size-3x-small;
    line-height: $size-3x-small;

    .alert {
      float: left;
    }

    .item {
      display: inline-block;
      margin: $spacing-none $spacing-x-small;

      &:first-child {
        margin-left: $spacing-none;
      }

      &:last-child {
        margin-right: $spacing-none;
      }
    }
  }

  // Heading
  &-heading {
    @include truncate;
    height: $size-3x-small;
    line-height: $size-3x-small;
    overflow: visible;

    a,
    a:active,
    a:hover,
    a:link,
    a:visited {
      text-decoration: none;
      color: $color-text-link;
      text-transform: uppercase;
      overflow: hidden;
      display: inline-block;
      vertical-align: top;
      width: 200px;
      text-overflow: ellipsis;
    }

    .context {
      color: $color-text-default !important;
    }

    .overflow-menu {
      position: absolute;
      display: block;
      float: right;
      min-width: 160px;
      padding: 5px 0;
      margin: 2px 0 0;
      list-style: none;
      text-align: left;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: $border-radius-medium;
      background-clip: padding-box;
      background-color: #fff;
      left: 30%;
      top: 92%;
      z-index: $z-index-dropdown;
      -webkit-transform: translate(-50%, 0%);
      -moz-transform: translate(-50%, 0%);
      -ms-transform: translate(-50%, 0%);
      -o-transform: translate(-50%, 0%);
      transform: translate(-50%, 0%);
      @include box-shadow(0 6px 12px rgba(0,0,0,.175));

      :after, :before {
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      :after {
        border-color: rgba(255, 255, 255, 0);
        border-bottom-color: #ffffff;
        border-width: 6px;
        margin-left: -6px;
      }
      :before {
        border-color: rgba(201, 201, 201, 0);
        border-bottom-color: #c9c9c9;
        border-width: 7px;
        margin-left: -7px;
      }

      > li > a {
        max-width: 100%;
        white-space: nowrap;
        display: block;
        text-decoration: none;
        cursor: pointer;
        margin: 0 4px;
        border-bottom: 2px solid transparent;
        padding: 0 16px;
        height: 40px;
        overflow: visible;
        font-size: 12px;
        line-height: 40px;
        color: #16325c;

        &:hover,
        &:focus {
          text-decoration: none;
          background-color: $color-background-row-hover;
        }
      }
    }

    .ellipsis {
      position: relative;
    }

    .circle {
      margin: ($size-3x-small - $square-icon-utility-large) / 2 {
        left: $spacing-none;
      }
      border-radius: $border-radius-medium;
      padding: ($square-icon-utility-large - $font-size-medium) / 2 {
        left: (($square-icon-utility-large - $font-size-medium) / 2) + 0.25;
      }
      height: $square-icon-utility-large;
      width: $square-icon-utility-large;
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      line-height: $line-height-reset;
      text-align: center;
      background-color: $color-background-success;
      color: $color-text-icon-inverse;
    }
  }
}
