.slds-listbox_horizontal,
.slds-listbox--horizontal {

  li + li {
    padding-left: $spacing-xx-small;
  }
}

.slds-listbox__option-header {
  font-size: $font-size-5;
}

.slds-listbox_vertical,
.slds-listbox--vertical {

  .slds-listbox__option_plain,
  .slds-listbox__option--plain {
    line-height: border-box-line-height($height-tappable, 0);
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;

    .slds-media__figure {
      margin-right: $spacing-x-small;
    }
  }
}

.slds-listbox_object-switcher,
.slds-listbox--object-switcher {
  padding: 0;
}

.slds-combobox_object-switcher {

  .slds-combobox__input {
    font-size: $font-size-5;
  }
}

.slds-listbox_selection-group {
  height: $height-tappable;

  .slds-listbox {
    padding: 0 $spacing-xx-small ($spacing-xx-small + $spacing-xxx-small);
  }

  .slds-listbox-item {
    padding: ($spacing-xx-small + $spacing-xxx-small) $spacing-xxx-small 0;
  }
}

.slds-has-inline-listbox,
.slds-has-object-switcher {

  .slds-combobox__input {
    line-height: border-box-line-height($height-tappable, 0, $spacing-xxx-small * 2);
    min-height: $height-tappable;
  }
}

.slds-has-inline-listbox {

  [role="listbox"] {
    padding: 0 ($spacing-xx-small + $spacing-xxx-small); // Matches the vertical spacing (6px)
  }
}
