.tools-actions .dropdown-menu {
  z-index: $z-index-dropdown;
  min-width: $size-xx-small;
  max-width: $size-medium;
  margin-top: $spacing-xxx-small;
  padding: $spacing-xx-small $spacing-none;
  border: $border-width-thin solid $color-border;
  border-radius: $border-radius-small;
  background: $color-background-alt;
  box-shadow: $shadow-drop-down;

  li {
    font-size: $font-size-medium;
    line-height: $line-height-text;
    text-align: left;
    color: $color-text-default;

    > a {
      padding: $spacing-x-small $spacing-small;
      color: $color-text-default;
      white-space: nowrap;
      cursor: pointer;

      &:hover,
      &:focus {
        outline: 0;
        text-decoration: none;
        background-color: $color-background-row-hover;
      }

      &:active {
        text-decoration: none;
        background-color: $color-background-row-active;
      }

      &[aria-disabled="true"] {
        color: $color-text-button-default-disabled;
        cursor: default;

        &:hover {
          background-color: transparent;
        }
      }

      span {
        padding-right: $spacing-xx-small;
      }
    }

    &.dropdown-header {
      margin-top: $spacing-xx-small;
      @include border(top);
      padding: $spacing-small $spacing-small $spacing-x-small $spacing-small;
      text-transform: uppercase;
    }

    &.dropdown-header:first-child {
      margin-top: $spacing-none;
      border-top: none;
      padding: $spacing-x-small $spacing-small;
    }
  }
}