.slds-pill {
  line-height: border-box-line-height($height-tappable-small);
  padding: 0 $spacing-x-small;

  + .slds-pill {
    margin-left: $spacing-xx-small;
  }

  .slds-pill__container,
  .slds-pill-container,
  .slds-pill_container {
    padding: $spacing-xx-small;
  }

  .slds-pill__label {
    font-size: $font-size-4;
  }

  .slds-pill__icon,
  .slds-pill__icon_container {

    ~ .slds-pill__action {
      padding-left: calc(#{$square-icon-x-small-boundary} + #{$spacing-x-small});
    }
  }
}

.slds-pill_link,
.slds-pill--link {

  padding: 0;

  .slds-pill__icon_container {
    left: $spacing-xx-small;
  }

  .slds-pill__remove {
    right: 0;
    width: $square-tappable-small;
    height: $square-tappable-small;
    margin: 0;
    border: 0;
  }

  .slds-pill__icon,
  .slds-pill__icon_container {

    ~ .slds-pill__action {
      padding-left: calc(#{$square-icon-x-small-boundary} + #{$spacing-x-small});
    }
  }
}

.slds-pill__action {
  padding: 0;
  padding-left: $spacing-x-small;
  padding-right: $square-tappable-small;
}
