@mixin eq-bar-y-size-position($height, $max) {
  y: $max - $height;
  height: $height;
}

@mixin eq-bar-size-init($max, $bars...) {
  @for $i from 0 to length($bars) {

    &:nth-of-type(#{$i + 1}) {
      @include eq-bar-y-size-position(nth($bars, $i + 1), $max);
    }
  }
}

@mixin static-zero-duration {
  animation-duration: 0s;
  animation-iteration-count: 1;
}
