{
  "presets": ["react"],
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  },
  "ignore": ["node_modules"]
}
