# Ignore all hidden dotfiles
.*

# Whitelist useful dotfiles
!/.scss-linters/
!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yml
!/.gitattributes
!/.gitignore
!/.hound.yml
!/.scss-lint.yml
!/.stylestatsrc
!/.travis.yml

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# Ignore modules
/node_modules

# Ignore logs
*.log

# Legacy folders
/git_modules
