# Ignore all hidden dotfiles
.*

# Whitelist useful dotfiles
!/.scss-linters/
!/.babelrc
!/.editorconfig
!/.eslintignore
!/.eslintrc.yml
!/.esmrc
!/.gitattributes
!/.gitignore
!/.hound.yml
!/.scss-lint.yml
!/.stylelintrc.yml
!/.sldsrc.defaults.yml
!/.stylestatsrc
!/.travis.yml
!/.github

# Add a .gitkeep file in an empty
# directory to check it in the repository
!.gitkeep

# for vrt
*snap.json

# nvm 5
package-lock.json

# Ignore generated styles
/assets/styles

# Ignore generated scripts
/assets/scripts

# Ignore generated tokens
design-tokens/components.yml

# Ignore modules
/node_modules

# Ignore assets
/_slds/images/themes/oneSalesforce

# Ignore logs
*.log

# Ignore code coverage reports
coverage

# Ignore tokens distribution
/design-tokens/dist

# Ignore test design-tokens + images
/design-tokens/__themes__
/assets/images/__local__

# Legacy folders
/git_modules
