// Container
.top-bar {
  //position: fixed;
  z-index: $z-index-default + 1;
  background: $color-background;
  box-shadow: $elevation-shadow-1;

  @at-root .zen .zen-moreTabs ul {
    z-index: $z-index-default + 2;
  }

  // Alerts
  .alert {
    margin: $spacing-x-small $spacing-none;
    padding: $spacing-x-small $spacing-large;
    line-height: $line-height-reset;
  }

  // Controls
  &-controls {
    height: $size-3x-small;
    line-height: $size-3x-small;

    .alert {
      float: left;
    }

    .item {
      display: inline-block;
      margin: $spacing-none $spacing-x-small;

      &:first-child {
        margin-left: $spacing-none;
      }

      &:last-child {
        margin-right: $spacing-none;
      }
    }
  }

  // Heading
  &-heading {
    @include truncate;
    height: $size-3x-small;
    line-height: $size-3x-small;

    a,
    a:active,
    a:hover,
    a:link,
    a:visited {
    text-decoration: none;
      color: $color-text-default;
    }

    .circle {
      margin: ($size-3x-small - $square-icon-utility-large) / 2 {
        left: $spacing-none;
      }
      border-radius: $border-radius-medium;
      padding: ($square-icon-utility-large - $font-size-medium) / 2;
      height: $square-icon-utility-large;
      width: $square-icon-utility-large;
      font-size: $font-size-medium;
      font-weight: $font-weight-bold;
      line-height: $line-height-reset;
      text-align: center;
      background-color: $color-background-success;
      color: $color-text-icon-inverse;
    }
  }
}