// Container
.top-bar {
  //position: fixed;
  z-index: $z-index-default + 1;
  height: $size-xxx-small;
  line-height: $size-xxx-small;
  background: $color-background;
  box-shadow: $elevation-shadow-1;

  // Alerts
  .alert {
    margin: $spacing-x-small $spacing-none;
    padding: $spacing-x-small $spacing-large;
    line-height: $line-height-reset;
  }

  // Controls
  &-controls {

    .alert {
      float: left;
    }

    .item {
      display: inline-block;
      margin: $spacing-none $spacing-x-small;

      &:first-child {
        margin-left: $spacing-none;
      }

      &:last-child {
        margin-right: $spacing-none;
      }
    }
  }

  // Heading
  &-heading a,
  &-heading a:active,
  &-heading a:hover,
  &-heading a:link,
  &-heading a:visited {
    text-decoration: none;
    color: $color-text-default;
  }

  &-heading .circle {
    display: none;
  }
}