.body-content {
  margin-bottom: $spacing-medium;

  .content-heading {
    @include border($borders: top left right);
    border-bottom: none;
    border-radius: $border-radius-medium $border-radius-medium $spacing-none $spacing-none;
    padding: $spacing-large $spacing-large $spacing-x-small;
    background: $color-background-alt;
    color: $color-text-weak;

    &-left > *:first-child {
      display: block;
      margin-bottom: $spacing-x-small;
      font-size: $font-size-large;
      font-weight: $font-weight-light;
      text-transform: capitalize;
      color: $color-text-default;
    }
  }

  .view-container {
    margin-bottom: $spacing-medium;
    border-top: none;
    @include border($borders: left right bottom);
    border-radius: $spacing-none $spacing-none $border-radius-medium $border-radius-medium;
    padding: $spacing-x-small $spacing-medium;
    background: $color-background-alt;
  }

  .loading-panel {
    border: none;

    .panel-heading {
      @include border($borders: top left right);
      border-bottom: none;
      border-radius: $border-radius-medium $border-radius-medium $spacing-none $spacing-none;
      padding: $spacing-x-small;
      background: $color-background-alt;
    }

    .panel-body {
      margin-bottom: $spacing-medium;
      border-top: none;
      @include border($borders: left right bottom);
      border-radius: $spacing-none $spacing-none $border-radius-medium $border-radius-medium;
      padding: $spacing-medium;
      background: $color-background-alt;
    }
  }

  @mixin header-margins{
    margin: {
      top: $spacing-large;
      right: $spacing-none;
      bottom: $spacing-none;
      left: $spacing-none;
    }
  }

  @mixin header-fonts{
    font-family: $font-family;
    line-height: $line-height-heading;
  }

  h1{
    @include header-margins;
    @include header-fonts;
    font: {
        size: $font-size-xx-large;;
        weight: $font-weight-light;
      }
  }

  h2{
    @include header-margins;
    @include header-fonts;
    font: {
      size: $font-size-x-large;
      weight: $font-weight-light;
    }
  }

  h3{
    @include header-margins;
    @include header-fonts;
    font: {
      size: $font-size-large;
      weight: $font-weight-light;
    }
  }

  h4{
    @include header-margins;
    @include header-fonts;
    font: {
      size: $font-size-large;
    }
  }

  h5{
    @include header-margins;
    @include header-fonts;
    font: {
      size: $font-size-medium;
      weight: $font-weight-light;
    }
    text-transform: uppercase;
  }

  h6{
    @include header-margins;
    @include header-fonts;
    font: {
      size: $font-size-small;
      weight: $font-weight-light;
    }
  }

  p{
    color: $color-text-default;
    font-family: $font-family;
    line-height: $line-height-text;
    margin-top: $spacing-small;
    margin-right: $spacing-none;
    margin-bottom: $spacing-none;
    margin-left: $spacing-none;
  }
}