.slds-modal {

  .slds-modal__title {
    font-weight: $font-weight-bold;
  }
}

.slds-modal__close {
  @include square($height-tappable);
}

.slds-modal__header .slds-modal__close {
  top: -$height-tappable;
  right: 0;
}
