@mixin root($root: html, $body: body) {
  #{$root} {
    font: 100%/#{$line-height-text} $font-family;
    background: $color-background-alt;
    color: $color-text-default;
    -webkit: {
      tap-highlight-color: rgba(0, 0, 0, 0);
    }
  }

  #{$body} {
    font-size: $font-size-medium;
    background: transparent;
  }
}
