// Base
.btn {
  position: relative;
  display: inline-block;
  margin: $spacing-none $spacing-x-small;
  padding: $spacing-none;
  background: transparent {
    clip: padding-box;
  };
  border: none {
    radius: $border-radius-medium;
  };
  color: $color-text-link;
  font-size: inherit;

  line-height: $line-height-button;
  text-decoration: none;
  -webkit-appearance: none;
  white-space: normal;
  user-select: none;
  transition:
    color $duration-immediately linear,
    background-color $duration-immediately linear;

  &:first-child {
    margin-left: $spacing-none;
  }

  &:last-child {
    margin-right: $spacing-none;
  }

  &:hover,
  &:focus,
  &:active,
  &:visited {
    text-decoration: none;
  }

  &:hover,
  &:focus {
    color: $color-text-link-hover;
  }

  &:focus {
    @include focus-button;
  }

  &:active {
    color: $color-text-link-active;
  }

  &[disabled] {
    color: $color-text-button-default-disabled;
  }

  &:hover,
  &:focus,
  &:active,
  &[disabled] {

    .btn-icon {
      fill: currentColor;
    }
  }

  @include deprecate('4.0.0') {

    & + & {
      margin-left: $spacing-xx-small;
    }
  }

  // Base
  &-default,
  &-link {
    // no additional directives
  }

  // Brand
  &-primary,
  &-success {
    @include button;
    @include button-brand;

    &[disabled] {
      background: $color-background-button-brand-disabled;
      border-color: $color-border-button-brand-disabled;
      color: $color-text-button-brand-disabled;
    }
  }

  // Destructive
  &-warning,
  &-danger {
    @include button;
    @include button-destructive;
  
    &[disabled] {
      background: $color-background-button-brand-disabled;
      border-color: $color-border-button-brand-disabled;
      color: $color-text-button-brand-disabled;
    }
  }

  // Neutral
  &-info,
  &-secondary,
  &-tertiary,
  &-cancel {
    @include button;
    @include button-base;
    background-color: $color-background-button-default;

    &[disabled]{
      background-color: $color-background-button-default-disabled;
      cursor: default;
    }
  }

  // Sizing
  &-xs {
    line-height: $line-height-button-xsmall;
    min-height: $line-height-button-xsmall;
  }
  &-sm {
    line-height: $line-height-button-small;
    min-height: $square-icon-medium-boundary; /* Forces icon-only buttons to be the same height as small buttons since they're svg and line-height has no effect on them */
  }
}

// Link
a.btn {
  text-align: center;

  &:focus {
    @include focus-button;
  }
}