.slds-progress__item {
  position: relative; // Position context for invisible tap target
  align-items: center;
  min-height: $height-tappable;

  .slds-button {

    &:before { // Create invisible tap target area
      position: absolute;
      width: calc(100% + 8px); // 8px accounts for border width of container
      height: $height-tappable;
      content: '';
    }
  }
}

.slds-progress__marker {
  @include square($square-tappable-xx-small);
  line-height: 1;
}

.slds-progress__marker_icon {
  @include square($square-tappable-small);

  .slds-button__icon {
    @include square($square-tappable-xx-small);
  }
}
