.slds-text-body_regular,
.slds-text-body--regular {
  font-size: $font-size-5;
}

.slds-text-body_small,
.slds-text-body--small {
  font-size: $font-size-4;
}

.slds-text-heading_large,
.slds-text-heading--large {
  font-size: $font-size-10;
}

.slds-text-heading_medium,
.slds-text-heading--medium {
  font-size: $font-size-8;
}

.slds-text-heading_small,
.slds-text-heading--small {
  font-size: $font-size-7;
}
