// Secondary Navigation
.navigation {
  @include border($borders: right bottom);
  border-radius: $spacing-none $spacing-none $border-radius-medium $spacing-none;
  min-height: ($size-frame-default - $size-3x-small);
  overflow: hidden;
  text-transform: capitalize;
  background: $color-background-alt;

  .item {
    @include tabs-link;
    border-left: $border-width-thick solid transparent;
    padding: $spacing-none $spacing-large;
    height: $line-height-tab;
    line-height: $line-height-tab;
    color: $color-text-tab-label;

    [class*="fa fa-"],
    [class*="glyphicon"],
    [class*="n-icon"] {
      display: none;
    }
  }

  .active {
    border-color: $color-text-tab-label-selected;
    background: $color-background-row-selected;
    color: $color-text-tab-label-selected;
  }

  .inactive {}

  .disabled {
    @include disable;
  }

  @media (max-width: $mq-bs3-medium - 1) {
    border-radius: $spacing-none;
    height: $line-height-tab;
    min-height: $line-height-tab;
    overflow: initial;

    &-overflow {
      width: 100%;

      .dropdown {
        width: 100%;

        &-menu {
          margin: $spacing-none;
          border-top: none;
          @include border($borders: left right bottom);
          border-radius: $spacing-none;
          width: 100%;
          box-shadow: none;

          .active {
            border-left: $border-width-thick solid transparent;
          }
        }
      }

      .overflow-icon {
        @include border($borders: bottom);
        padding: $spacing-none $spacing-large {
          right: $spacing-none;
        }

        [class*="fa fa-"],
        [class*="glyphicon"],
        [class*="n-icon"] {
          display: inline;
          @include border($borders: left);
          padding: $spacing-none $spacing-large;
          height: $line-height-tab;
          font-size: $font-size-x-large;
          line-height: $line-height-tab;
          background: $color-background-alt;
          color: $color-text-tab-label-selected;
        }
      }
    }
  }
}

// Tertiary Navigation
.sub-navigation {
  text-transform: uppercase;

  span {
    display: inline-block;
  }

  a {
    @include tabs-link;
    margin: $spacing-none $spacing-xx-small;
    border-bottom: $border-width-thick solid transparent;
    padding: $spacing-none $spacing-medium;
    height: $line-height-tab;
    overflow: visible;
    font-size: $font-size-small;
    line-height: $line-height-tab;
    color: $color-text-tab-label;

    &:hover,
    &:focus {
      text-decoration: none;
      border-color: $color-text-tab-label-selected;
      color: $color-text-action-label-active;
    }

    &:focus {
      @include tab-focus;
    }

    [class*="fa fa-"],
    [class*="glyphicon"],
    [class*="n-icon"] {
      display: none;
    }
  }

  .active {
    border-color: $color-text-tab-label-selected;
    color: $color-text-tab-label-active;

    &:focus {
      color: $color-text-tab-label-selected;
    }
  }

  .inactive {}

  .disabled {
    @include truncate;
    margin: $spacing-none $spacing-xx-small;
    border-bottom: $border-width-thick solid transparent;
    padding: $spacing-none $spacing-medium;
    height: $line-height-tab;
    overflow: visible;
    font-size: $font-size-small;
    line-height: $line-height-tab;
    @include disable;
  }

  .overflow {
    display: none;
  }

  &-overflow {
    .dropdown {
      > a {
        [class*="fa fa-"],
        [class*="glyphicon"],
        [class*="n-icon"] {
          display: inline-block;
          padding: $spacing-xx-small;
        }
      }
    }

    .dropdown-menu {
      > li {
        > a {
          @include tabs-link;
          margin: $spacing-none $spacing-xx-small;
          border-bottom: $border-width-thick solid transparent;
          padding: $spacing-none $spacing-medium;
          height: $line-height-tab;
          overflow: visible;
          font-size: $font-size-small;
          line-height: $line-height-tab;
          color: $color-text-tab-label;

          &:hover,
          &:focus {
            border: none;
            text-decoration: none;
            color: $color-text-action-label-active;
          }

          &:focus {
            @include tab-focus;
          }

          [class*="fa fa-"],
          [class*="glyphicon"],
          [class*="n-icon"] {
            display: none;
          }
        }
      }
    }
  }

  &-content,
  &-overflow {
    background: $color-background;
  }
}