.slds-th__action {
  padding-right: $square-tappable-xx-small;
}

.slds-th__action-button,
.slds-th__action-button .slds-button {
  width: $square-tappable-xx-small;
  height: $square-tappable-xx-small;
}
