.ui-container {
  padding: $spacing-none;
  min-height: $size-frame-default;
  overflow: hidden {
    y: auto;
  }
  background: $color-background;

  .body {

    .message-container {
      min-height: $spacing-none;
    }

    .alert,
    .slds-box {
      margin-bottom: $spacing-medium;
    }
  }

  .input-group{
    .help-block {
      display: block;
      position: absolute;
      top: $size-4x-small;
      left: 0;
      margin: $spacing-none {
        top: $spacing-x-small;
        bottom: $spacing-x-small;
      }
    }
  }
}


