<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <title>Preview</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>
  <div id="preview"></div>
  <script>
    (function() {
      window.addEventListener('load', function() {
        var eventName = 'iframe:load:' + window.name;
        if (parent.window.__events) {
          parent.window.__events.emit(eventName);
        } else {
          parent.window.__eventsQueue = parent.window.__eventsQueue || [];
          parent.window.__eventsQueue.push({
            name: eventName,
            args: []
          });
        }
      });
    })();
  </script>
</body>
</html>
