.content-label {
  width: 100%;
  font-size: $font-size-small;
  line-height: $line-height-reset;
  white-space: nowrap;
  color: $color-text-label;

  .form-control {
    z-index: $z-index-default;
    max-width: 100%;
  }

  .form-control-static {
    margin: $spacing-xx-small $spacing-none;
    padding: $spacing-none;
  }

  .input-sm {
    height: $font-size-medium;
    font-size: $font-size-small;
    line-height: $line-height-reset;
  }

  label {
    font-weight: $font-weight-regular;
  }
}

.content-body {
  width: 100%;
  font-size: $font-size-medium;

  .form-control {
    z-index: $z-index-default;
    max-width: 100%;
  }

  .form-control-static {
    margin: $spacing-none;
    padding: $spacing-none;
  }

  .input-sm {
    height: $font-size-xx-large;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
  }

  label {
    display: inline;
    margin: $spacing-none $spacing-x-small $spacing-x-small $spacing-xx-small;
    vertical-align: middle;
    font-size: $font-size-medium;
    font-weight: $font-weight-regular;
  }
  label:first-child {
    margin-left: $spacing-none;
  }
  label:last-child {
    margin-right: $spacing-none;
  }
}