
@mixin button {
  padding-left: $spacing-medium;
  padding-right: $spacing-medium;
  text-align: center;
  vertical-align: middle;
  border: $border-width-thin solid $color-border-primary;
  transition: border 0.15s linear;
}

@mixin button-reset {
  font-size: inherit;
  color: inherit;
  line-height: inherit;
  padding: 0;
  background: transparent;
  border: 0;
  text-align: inherit;
}
