/* overriding the story iframe showcase styles to accommodate Touch devices */

html { background: transparent !important; }

.sb-show-main {
  padding: 2rem;
  min-height: 100vh;

  @media (pointer: coarse) and (hover: none) {
    padding: 1rem;
  }
}