// stylelint-disable selector-class-pattern
.docs-codeblock-example .slds-tabs-mobile__container .slds-panel_animated {
  position: absolute;
}

.docs-codeblock-example .slds-tabs-mobile__container {
  height: 100%;
}
