.slds-form-element__label {
  @include flex-vertical-center(inline-flex);
  min-height: $height-tappable-small;
  padding-top: 0;
  margin-bottom: 0;
  font-size: $font-size-4;
}

// In touch, resize height of info button icon that is inline with form label
.slds-form-element__label + .slds-form-element__icon .slds-button_icon {
  height: $height-tappable-small;
}

.slds-form-element__icon {
  padding-top: 0; // Padding deprecated with increased touch target area size
}

.slds-form-element_edit,
.slds-form-element--edit {

  .slds-form-element__static {
    width: calc(100% - #{$square-tappable});
  }
}

.slds-form-element_readonly {

  .slds-icon {
    @include square($square-tappable-x-small);
  }
}

.slds-form-element__static {
  font-size: $font-size-5;
}
